CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
240428/CMakeLists.txt
240428/cmake-build-debug/build.ninja
240428/cmake-build-debug/240428
240428/cmake-build-debug/.ninja_log
240428/cmake-build-debug/.ninja_deps
240428/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3bfd73f62fea50a422bf.json
240428/cmake-build-debug/.cmake/api/v1/reply/target-240428-Debug-1624fbfc8d4c44b9a4f6.json
240428/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-28T06-41-58-0486.json
240428/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
240428/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8af1b44aed2c3ad6e45e.json
240428/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-02c1b549622f3ca1525a.json
240428/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f2928e5e93d8ed8b34d1.json
240428/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
240428/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
240428/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
240428/cmake-build-debug/.cmake/api/v1/query/cache-v2
240428/.idea/vcs.xml
240428/.idea/modules.xml
240428/.idea/misc.xml
240428/.idea/240428.iml
.DS_Store
